.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 120px;
  gap: 20px;
  width: 1440px;
  height: auto;
  max-height: 427px;
  box-sizing: border-box;
}

.footer-description {
  display: flex;
}
